  #footer {
        width:100%;
        text-align:center;
  }
  @media only screen and (min-width : 960px) {
     
     #footer {
        width:100%;
        position: fixed;
        bottom: 0;
        
        text-align:center;
     }
    
  }